@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 10px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 4rem;
  color: white;
  border: solid 4px white;
  border-radius: 10px;
}

.square_o {
  background-color: rgb(72, 130, 72);
}

.square_x {
  background-color: rgb(102, 88, 170);
}
